<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Control-flow</title>
</head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Mon site</a>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          
          @if (isConnected) {
            <li class="nav-item">
              <a class="nav-link" href="#">Mon compte</a>
            </li>
          } @else {
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Se connecter</a>
            </li>
          }
          
          
        </ul>
      </div>
    </div>
  </nav>

  <div class="container m-5">
    <div class="card">
      <div class="card-header">
        Liste de taches
      </div>
      <div class="card-body">
        <ul>
          @for (task of tasks; track task.id) {
          <li>{{ task.title }}</li>
          } @empty {
          <li>Aucune tâche</li>
          }
        </ul>
        <hr>
        <p>
          @switch (user.role) { @case('student') {
          <span>Vous êtes un.e étudiant.e</span>
          } @case('teacher') {
          <span>Vous êtes un.e enseignant.e</span>
          } @case('director') {
          <span>Vous êtes un.e directeur.rice</span>
          } @default {
          <span>Vous êtes un.e inconnu.e</span>
          } }
        </p>
      </div>
    </div>
  </div>

</body>
</html>